@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-blue: #00adee;
  --color-red: #ed1c24;
  --color-green: #009640;
  --color-yellow: #ffe600;
  --color-purple: #762c91;
}

body {
  font-family: "Poppins", "Montserrat", sans-serif;
  color: #212529;
}

/* Animation pour les cercles du logo */
@keyframes pulse-circle {
  0%,
  100% {
    transform: scale(1);
    opacity: 0.8;
  }
  50% {
    transform: scale(1.1);
    opacity: 1;
  }
}

.animate-pulse-circle {
  animation: pulse-circle 3s infinite ease-in-out;
}

/* Animation pour le défilement fluide */
html {
  scroll-behavior: smooth;
}

/* Keyframes pour les animations flottantes */
@keyframes float {
  0%,
  100% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-10px);
  }
}

.animate-float {
  animation: float 6s ease-in-out infinite;
}
